Package: com.kt-storage.icleanerpro
Version: 7.8.0k
Section: Ứng dụng
Maintainer: KT Storage
Depends: firmware (>= 4.0), findutils, apt | apt7, com.kt-storage.icon
Conflicts: org.altervista.exilecom.icleaner
Replaces: org.altervista.exilecom.icleaner
Architecture: iphoneos-arm
Name: iCleaner Pro™
Author: Ivano Bilenchi
Installed-Size: 3781
