Package: com.kt-storage.floatingdockplus13
Name: FloatingDockPlus13™
Version: 1.1.5
Author: P2KDev <p2kdev@gmail.com>
Depends: firmware (>= 13.0),mobilesubstrate,preferenceloader,com.spark.libsparkapplist, com.kt-storage.icon
Conflicts: com.imkpatil.floatingdock, com.synnyg.floatydock, com.imkpatil.floatingdockplus
Installed-Size: 381
Section: Tweaks
Architecture: iphoneos-arm
Maintainer: KT Storage
