Package: com.kt-storage.kalm
Name: Kalm™
Version: 1.2.2
Author: ubik <cydia@ubikstyl.es>
Depends: mobilesubstrate, preferenceloader, com.kt-storage.icon
Conflicts: com.ioscreatix.twig, xyz.royalapps.jellyfish, com.bengiannis.manta, com.xcxiao.simplels2, com.lacertosusrepo.speculum
Installed-Size: 577
Section: Tweaks
Architecture: iphoneos-arm
Maintainer: KT Storage

