Name: GoodWiFi™
Version: 0.0~beta5
Package: com.kt-storage.goodwifi
Section: Tweaks
Maintainer: KT Storage
Depends: mobilesubstrate, preferenceloader, com.kt-storage.icon
Architecture: iphoneos-arm
Author: Julioverne
Installed-Size: 129

