
.hoverzoom {
  -webkit-transition: transform .2s;
     -moz-transition: transform .2s;
       -o-transition: transform .2s;
      -ms-transition: transform .2s;
          transition: transform .2s;
}
.widget-snap:hover .hoverzoom{
  transform: scale(1.1); 
-webkit-transform: scale(1.1); 
     -moz-transform: scale(1.1); 
       -o-transform: scale(1.1); 
      -ms-transform: scale(1.1); 
          transform: scale(1.1); 
}

.hovershadow {
  -webkit-transition: box-shadow .2s;
     -moz-transition: box-shadow .2s;
       -o-transition: box-shadow .2s;
      -ms-transition: box-shadow .2s;
          transition: box-shadow .2s;
}
.widget-snap:hover .hovershadow{
-webkit-filter: drop-shadow(1px 0px 2px #a5a5a5);
  			filter: drop-shadow(1px 0px 2px #a5a5a5);
}

.hoverup {
  -webkit-transition: transform .2s;
     -moz-transition: transform .2s;
       -o-transition: transform .2s;
      -ms-transition: transform .2s;
          transition: transform .2s;
}

.widget-snap:hover .hoverup{
-moz-transform: translate(0px, -5px);
 -ms-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px)
}

.hoverup:hover {
-moz-transform: translate(0px, -5px);
 -ms-transform: translate(0px, -5px);
  -o-transform: translate(0px, -5px);
webkit-transform: translate(0px, -5px);
    transform: translate(0px, -5px)
}


.hovershine {
	position: relative !important;

}
.hovershine::before {
	position: absolute !important;
	top: 0 !important;
	left: -75% !important;
	z-index: 2 !important;
	display: block !important;
	content: '' !important;
	width: 50% !important;
	height: 100% !important;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%) !important;
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%) !important;
	-webkit-transform: skewX(-25deg) !important;
	transform: skewX(-25deg) !important;
}
.widget-snap:hover .hovershine::before  {
	-webkit-animation: shine .75s !important;
	animation: shine .75s !important;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}
}

